@tailwind base;
@tailwind components;
@tailwind utilities;
/* scroll */
.scrollService::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

.scrollService::-webkit-scrollbar-thumb {
  background: #f7b731;
  border-radius: 10px;
}

.scrollService::-webkit-scrollbar-thumb:hover {
  background: #c89d2f;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3066ee;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37373780;
}
